#menu{
    margin: 0;
    padding: 0;
    height: 50px;
    color: white;
    background-color: #444;
    display: flex;
    justify-content: space-between;

}

#menu ul li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 25px;
}

a{
    text-decoration: none;
    width: 100%;
    color: white;
}






